.imgView {
	right: 0;
	height: 100%;
	width: 40%;
	flex: 0.4;
	border-radius: 0 10px 10px 0;
}

.overlay {
	border-radius: 0 10px 10px 0;
	background-color: $primary-accent;
	position: absolute;
	z-index: 2;
	right: 0;
	height: 100%;
	width: 40%;
	opacity: 0.45;
}